.results {
  display: grid;
  grid-template-columns: 100%;
  @media (min-width: 600px) {
    grid-template-columns: 50% 50%
  }
  @media (min-width: 765px) and (max-width: 960px) {
    grid-template-columns: repeat(3, 33.33%)
  }
  @media (min-width: 961px) {
    grid-template-columns: repeat(4, 25%)
  }

  > .item {
    border: 1px solid #ccc;
    &:first-child {
      border-bottom: none;
    }
  }
}
