.result-item {
  display: flex;

  &__cover {
    margin: 10px;
  }

  &__description {
    flex-grow: 1;
    margin: 10px;
    h1 {
      font-size: 16px;
    }
    p {
      font-weight: lighter;
    }
  }
}
