.term {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
  &__input {
    align-items: center;
    display: flex;

    div {
      &:first-child {
        flex-grow: 1;
      }
      > button {
        border: none;
        border-radius: 3px;
        background: rgb(6, 117, 190);
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: lighter;
        padding: 10px;
        margin-left: 5px;
        &:disabled {
          background: gray;
          opacity: .25;
        }
      }
    }
  }
  &__options {
    margin-top: 15px;
    span {
      margin-right: 5px;
    }
  }
}
