.loading {
  align-items: center;
  background: rgba(255,255,255, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  &__icon {
    text-align: center;
    span {
      display: inline-block;
      font-size: 64px;
      animation-name: loading;
      animation-duration: 1.25s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
