@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font: 14px 'Open Sans', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #333;
  color: #fff;
  height: 70px;
  .logo {
    border: 5px solid #0764b1;
    padding: 5px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    span {
      display: inline-block;
      font-size: 32px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #ce272d;
      line-height: 1; 
    }
  }
}

.search-content {
  box-shadow: 0px 3px 3px #ccc;
  background: #f9f9f9;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
